* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
}

* section {
    position: relative;
    display: flex;
    justify-content: center;
}

body {
    background: #FFFFFF;
}

body ::-webkit-scrollbar {
    display: none;
}

.title {
    margin: 0;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    color: #E3B873;
}

.button {
    background: #E3B873;
    outline: 0;
    border: 0;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0;
}

.container {
    max-width: 1440px;
    flex: 1 1 auto;
    padding: 0 92px;
}

@media screen and (max-width: 1300px) {
    .container {
        max-width: 375px;
        padding: 0 17px;
    }
}

.header {
    display: flex;
    justify-content: center;
    background: #131313;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 23px 92px;
}

.logo {
    margin-right: 8.54vw;
}

.logo-title {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 15px;
    min-width: 152px;
}

.header-nav {
    display: flex;
    width: 39.615vw;
    max-width: 570.47px;
    justify-content: space-between;
}

.header-nav__item a {
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
}

.tel {
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
    min-width: 102px;
    margin-left: 6.94vw;
}

.header-button {
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    font-style: italic;
    font-size: 11px;
    line-height: 15px;
    padding: 0;
    min-width: 161px;
    min-height: 37px;
    margin-left: 3.125vw;
}

@media screen and (max-width: 1300px) {
    .header-content {
        justify-content: space-between;
        padding: 23px 18px;
    }

    .logo {
        margin: 0;
    }

    .header-nav {
        display: none;
    }

    .tel {
        margin: 0;
    }

    .header-button {
        display: none;
    }
}

.main {
    display: flex;
    flex-direction: column;
}

.home {
    background-image: url('../images/home.png');
    background-size: cover;
    height: 707px;
    padding: 194px 42px 0;
}

.home-content {
    position: relative;
    z-index: 1;
}

.home-title {
    font-size: 40px;
    line-height: 53px;
    color: #FFFFFF;
}

.home-txt {
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    margin: 20px 0;
}

#city-name {
    color: #E3B873;
}

.home-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 434px;
}

.home-button {
    font-size: 11px;
    line-height: 15px;
    font-style: italic;
    width: 207px;
    height: 51px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
}

.home-button#submit {
    background: 0;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    box-shadow: none;
}

.home-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 1300px) {
    .home {
        height: 476px;
        padding: 85px 0 0;
    }

    .home-title {
        font-size: 23px;
        line-height: 31px;
    }

    .home-txt {
        font-size: 14px;
        line-height: 19px;
        margin: 16px 0 55px;
    }

    .home-buttons {
        flex-direction: column;
        width: fit-content;
        height: 128px;
    }

    .home-button {
        width: 339px;
        height: 51px;
    }
}

.projects {
    background: #131313;
    padding-top: 107px;
    height: 1074px;
}

.projects-content {
    width: 1170px;
    height: 550px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr;
    grid-template-rows: 69px 100px 128px repeat(2, 107px) 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.projects-nav-grid {
    grid-area: 1 / 3 / 2 / 4;
}

.projects-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.projects-nav__item {
    margin-right: 60px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}

.projects-nav__item a {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
}

.projects-nav__item:last-child {
    margin-right: 0;
}

.selected a {
    color: #E3B873;
    padding-bottom: 7px;
    border-bottom: 1px solid;
}

.completed-projects {
    grid-area: 2 / 1 / 3 / 3;
}

.projects-title {
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
}

.projects-description {
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    width: 442px;
    grid-area: 3 / 1 / 4 / 3;
}

.projects-image {
    width: 679px;
    height: 482px;
    box-shadow: 0px 20px 17px #111111;
    grid-area: 2 / 3 / 7 / 4;
}

.projects-image-buttons {
    display: none;
}

.description-title {
    font-size: 18px;
    line-height: 25px;
}

.description-txt {
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.projects-char {
    grid-area: 4 / 1 / 6 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.projects-char-1 {
    grid-area: 1 / 1 / 2 / 2;
}

.projects-char-2 {
    grid-area: 1 / 2 / 2 / 3;
}

.projects-char-3 {
    grid-area: 2 / 1 / 3 / 2;
}

.projects-char-4 {
    grid-area: 2 / 2 / 3 / 3;
}

.arrow-nav {
    grid-area: 6 / 1 / 7 / 3;
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.button.arrow-nav-button {
    background: 0;
    outline: 0;
    box-shadow: none;
    padding: 0;
    margin: 0;
    height: 14px;
    display: flex;
}

.button.orb-nav-button {
    background: 0;
    outline: 0;
    box-shadow: none;
    padding: 0;
    margin: 0;
    height: 11px;
    display: flex;
}

.button.arrow-nav-button:first-child {
    margin-right: 30px;
}

.button.arrow-nav-button:last-child {
    margin-left: 30px;
}

.button.orb-nav-button#center-orb {
    margin-left: 18px;
    margin-right: 18px;
}

@media screen and (max-width: 1300px) {
    .projects {
        height: 662px;
        padding: 36px 0 0;
    }

    .projects-content {
        width: fit-content;
        display: flex;
        flex-direction: column;
        height: 639px;
    }

    .projects-nav {
        display: none;
    }

    .completed-projects {
        margin-bottom: 25px;
    }

    .projects-title {
        font-size: 22px;
        line-height: 30px;
        text-align: center;
    }

    .projects-description {
        font-size: 11px;
        line-height: 17px;
        text-align: center;
        width: 311px;
        align-self: center;
        margin-bottom: 70px;
    }

    .projects-image {
        width: 340px;
        height: 241px;
        margin-bottom: 37px;
        position: relative;
    }

    .projects-image-buttons {
        position: absolute;
        top: 101px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 340px;
        padding: 0 14px;
    }

    .back-button {
        width: 36px;
        height: 36px;
        background: none;
    }

    .back-button.image-back {
        width: 36px;
        height: 36px;
    }

    .next-button.image-next {
        width: 36px;
        height: 36px;
    }

    .next-button {
        width: 36px;
        height: 36px;
        background: none;
    }

    .projects-image img {
        width: 340px;
        height: 241px;
    }

    .projects-char {
        grid-row-gap: 35px;
    }

    .description-title {
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 11px;
    }

    .description-txt {
        font-size: 11px;
        line-height: 15px;
    }

    .arrow-nav {
        display: none;
    }
}

.online-control {
    height: 805px;
}

.online-control-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -324px;
}

.cam-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}

.cam-title {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 19px;
}

.cam-video-overlayed {
    position: relative;
}

.video {
    height: 434px;
}

.video-shadow {
    position: absolute;
    top: 230px;
    width: 817px;
    height: 204px;
    box-shadow: 0px 20px 20px #dbdbdb;
}

.video-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    height: 434px;
}

.play-button {
    z-index: 1;
    background: none;
    display: flex;
    position: absolute;
    top: 147px;
    left: 336px;
}

.line {
    margin: 0;
    margin-top: 62px;
    margin-bottom: 35px;
    width: 55px;
    border: none;
    border-top: 2px solid #E3B873;
}

.cam-txt {
    width: 681px;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
}

.cam-input {
    margin-top: 91px;
    display: flex;
}

.name-input {
    display: flex;
    flex-direction: column;
}

.phone-input {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
    height: 15px;
}

.input {
    padding: 0;
    border: 0;
    background: none;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    width: 231px;
}

.input:focus {
    outline: 0;
    border: 0;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.cam-button {
    width: 200px;
    height: 51px;
    font-size: 13px;
    line-height: 27px;
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    border-radius: 2px;
}

.phone-input#cam-center {
    margin-left: 58px;
    margin-right: 49px;
}

.personal-data {
    display: flex;
    align-items: center;
    margin-top: 37px;
}

#cam-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

#cam-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

#cam-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 1px;
    margin-right: 0.5em;
    margin-bottom: 2px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

#cam-checkbox:checked+label::before {
    border-color: #E3B873;
    background-color: #E3B873;
    background-image: url('../images/check-mark.svg');
}

#cam-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #f5d6a5;
}

#cam-checkbox:not(:disabled):active+label::before {
    background-color: #f5d6a5;
    border-color: #f5d6a5;
}

#cam-checkbox:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(255, 208, 0, 0.25);
}

#cam-checkbox:focus:not(:checked)+label::before {
    border-color: #f5d6a5;
}

.checkbox-label {
    font-size: 14px;
    line-height: 23px;
}

@media screen and (max-width: 1300px) {
    .online-control {
        background: #131313;
        padding-top: 58px;
        height: 889px;
    }

    .online-control-content {
        margin: 0;
    }

    .cam-header {
        margin-bottom: 40px;
    }

    .cam-title {
        font-size: 22px;
        line-height: 30px;
    }

    .video {
        height: 207px;
        width: 340px;
        box-shadow: 0px 20px 30px rgba(24, 24, 24, 0.1);
    }

    .video img {
        height: 207px;
        width: 340px;
    }

    .video-shadow {
        display: none;
    }

    .video-overlay {
        height: 207px;
    }

    .play-button {
        height: 63px;
        width: 63px;
        top: 72px;
        left: 139px;
    }

    .play-button img {
        height: 63px;
        width: 63px;
    }

    .line {
        margin-top: 28px;
        margin-bottom: 21px;
    }

    .cam-txt {
        font-size: 11px;
        line-height: 19px;
        width: 340px;
        color: #FFFFFF;
    }

    .cam-input {
        margin-top: 61px;
        flex-direction: column;
        align-items: center;
    }

    .label {
        color: rgba(255, 255, 255, 0.5);
    }

    .input {
        width: 340px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        color: #FFFFFF;
    }

    .input:focus {
        border-bottom: 1px solid rgb(255, 255, 255);
    }

    .phone-input#cam-center {
        margin: 0;
        margin-top: 63px;
    }

    .cam-button {
        margin-top: 110px;
        width: 340px;
    }

    .personal-data {
        margin-top: -134px;
        align-self: flex-start;
    }

    .checkbox-label {
        color: #FFFFFF;
    }
}

.repair-content {
    position: relative;
}

.repair-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 31px;
}

.repair-title {
    margin-bottom: 18px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #181818;
}

.repair-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
}

.repair-block {
    max-width: 392px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rb1 {
    grid-area: 1 / 1 / 2 / 2;
}

.rb2 {
    grid-area: 1 / 2 / 2 / 3;
}

.rb3 {
    grid-area: 1 / 3 / 2 / 4;
}

.repair-discription {
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    max-width: 330px;
    margin-top: -127px;
    padding: 25px 105px 49px 34px;
}

.repair-subtitle {
    margin: 0;
    margin-bottom: 13px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
}

.repair-ul {
    margin: 0;
    padding-left: 16px;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

.repair-li {
    list-style-type: disc;
}

.repair-price {
    align-self: flex-start;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
    padding: 17px 17px;
    color: #FFFFFF;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    width: 228px;
    height: 54px;
    margin-top: -30px;
    margin-left: 29px;
}

@media screen and (max-width: 1300px) {
    .types-of-repair {
        padding-top: 78px;
    }

    .repair-header {
        margin-bottom: 40px;
    }

    .repair-title {
        font-size: 22px;
        line-height: 30px;
    }

    .repair-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column-gap: 0;
        grid-row-gap: 0
    }

    .repair-block {
        width: 340px;
        align-items: flex-start;
        margin-bottom: 59px;
    }

    .repair-block img {
        width: 340px;
    }

    .rb3 {
        margin: 0;
    }

    .repair-discription {
        max-width: 270px;
        padding: 21px 41px 37px 31px;
        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
        margin-top: -142px;
    }

    .repair-subtitle {
        font-size: 15px;
        line-height: 21px;
    }

    .repair-ul {
        font-size: 13px;
        line-height: 22px;
    }

    .repair-price {
        margin: 0;
        margin-top: -20px;
        font-size: 15px;
        line-height: 21px;
        width: 191px;
        height: 40px;
        padding: 10px;
    }
}

.measurement-content {
    height: 932px;
    display: flex;
    margin-top: 158px;
    justify-content: space-between;
}

.measurement-discription {
    background-image: url(../images/measurer.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 703px;
    height: 645px;
    display: flex;
    align-items: flex-end;
    position: relative;
    margin-left: -92px;
}

.measurement-ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 227px;
}

.measurement-li {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 56px;
}

.measurement-li:last-child {
    margin-bottom: 26px;
}

.measurement-ol-img {
    width: 88px;
    height: 88px;
}

.img-ol-number {
    position: absolute;
    top: 26px;
    bottom: 0px;
    left: 32px;
    right: 0px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    width: 25px;
}

.ol-txt {
    max-width: 321px;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
    margin: 0;
    margin-top: -11px
}

.measurement-main {
    width: 506px;
    height: 509px;
    margin-top: 107px;
    background: #131313;
    box-shadow: 0px 30px 30px rgb(0 0 0 / 5%);
    padding: 28px 49px;
}

.measurement-request {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.request-title {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: none;
    width: 213px;
    margin-bottom: 39px;
}

.phone-input#request-center {
    margin: 48px 0px;
}

.email-input {
    display: flex;
    flex-direction: column;
}

#measurement-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

#measurement-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

#measurement-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 1px;
    margin-right: 0.5em;
    margin-bottom: 2px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

#measurement-checkbox:checked+label::before {
    border-color: #E3B873;
    background-color: #E3B873;
    background-image: url('../images/check-mark.svg');
}

#measurement-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #f5d6a5;
}

#measurement-checkbox:not(:disabled):active+label::before {
    background-color: #f5d6a5;
    border-color: #f5d6a5;
}

#measurement-checkbox:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(255, 208, 0, 0.25);
}

#measurement-checkbox:focus:not(:checked)+label::before {
    border-color: #f5d6a5;
}

.request-label {
    color: rgba(255, 255, 255, 0.5);
}

.cb-label {
    color: #FFFFFF;
}

.request-input {
    background: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    width: 408px;
    color: #FFFFFF;
}

.request-input:focus {
    border-bottom: 1px solid rgb(255, 255, 255);
}

.request-data {
    margin-top: 16px;
}

.request-button {
    width: 213px;
    height: 51px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    line-height: 21px;
    padding: 0;
    margin-top: 26px;
    margin-left: 196px;
}

.help {
    margin-top: 56px;
    display: flex;
    margin-left: -39px;
}

.help-txt {
    margin: 0;
    margin-top: 20px;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    width: 214px;
}

@media screen and (max-width: 1300px) {
    .measurement {
        display: none;
    }
}

.styles {
    background-image: url('../images/styles.png');
    background-size: cover;
    height: 864px;
}

.styles-content {
    position: relative;
    z-index: 1;
    padding-top: 137px;
    padding-left: 99px;
    padding-right: 101px;
}

.styles-grid {
    display: grid;
    grid-template-columns: 445px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 43px;
    grid-row-gap: 38px;
}

.styles-main {
    grid-area: 1 / 1 / 2 / 2;
}

.styles-title {
    font-size: 27px;
    line-height: 37px;
    width: 278px;
    margin-bottom: 37px;
}

.styles-ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.styles-li {
    margin-bottom: 11.3px;
}

.styles-li:last-child {
    margin-bottom: 0;
}

.styles-li a {
    text-decoration: none;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
}

.styles-li.selected a {
    color: #E3B873;
    padding-bottom: 0;
}

.styles-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 43px;
    grid-row-gap: 37px;
}

#img-1 {
    grid-area: 1 / 2 / 2 / 3;
    margin-top: -244px;
}

#img-2 {
    grid-area: 1 / 1 / 2 / 2;
    margin-top: -179px;
}

#img-3 {
    grid-area: 2 / 2 / 3 / 3;
    margin-top: -352px;
}

#img-4 {
    grid-area: 2 / 1 / 3 / 2;
    margin-top: -7px;
}

#img-5 {
    display: none;
}

.styles-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
}

@media screen and (max-width: 1300px) {
    .styles {
        background: none;
        padding-top: 55px;
        height: fit-content;
    }

    .styles-content {
        padding: 0 17px;
        margin-bottom: -121px;
        z-index: 2;
    }

    .styles-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column-gap: 0;
        grid-row-gap: 0
    }

    .styles-title {
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 24px;
    }

    .styles-ul {
        display: none;
    }

    .styles-gallery {
        display: flex;
    }

    #img-1,
    #img-2,
    #img-3,
    #img-4 {
        display: none;
    }

    #img-5 {
        display: block;
        width: 340px;
        height: 241px;
        position: relative;
    }

    .styles-overlay {
        display: none;
    }
}

.reviews {
    height: 1107px;
}

.reviews-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    max-width: 1236px;
}

.reviews-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 39px;
}

.reviews-title {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #181818;
}

.reviews-header-txt {
    margin: 0;
    margin-top: 25px;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
    max-width: 364px;
}

.reviews-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 54px;
    grid-row-gap: 0px;
}

.review-block {
    width: 376px;
    height: 428px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    padding: 24px 31px 90px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
}

.reviewer-img {
    height: 76px;
    width: 76px;
}

.reviewer-name {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
    width: 178px;
    margin-left: 23px;
}

.review-txt {
    font-size: 13px;
    line-height: 23px;
    color: #959595;
    margin-top: 22px;
}

.review-char {
    margin-top: -27px;
    height: 54px;
    width: 294px;
    background: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    display: flex;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 17px;
    width: 135px;
    border-right: 0.75px solid #FFFFFF;
}

.amount-of-days {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px 0 17px;
    width: 159px;
}

#review-1 {
    grid-area: 1 / 1 / 2 / 2;
}

#review-2 {
    grid-area: 1 / 2 / 2 / 3;
}

#review-3 {
    grid-area: 1 / 3 / 2 / 4;
}

.reviews-footer {
    display: flex;
    margin-top: -455px;
}

@media screen and (max-width: 1300px) {
    .reviews {
        display: none;
    }
}

.contacts {
    height: 954px;
    background-image: url('../images/contacts.png');
    background-size: cover;
}

.contacts-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions-block {
    margin-top: -222px;
    width: 883px;
    height: 445px;
    background: #181818;
    padding: 35px 182px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions-title {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 43px;
}

.questions-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 58px;
    grid-row-gap: 0px;
}

.questions-label {
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.questions-input {
    display: flex;
    flex-direction: column;
    background: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    color: #FFFFFF;
}

#question {
    width: 520px;
}

.questions-input:focus {
    border-bottom: 1px solid rgb(255, 255, 255);
}

#question-input-1 {
    grid-area: 1 / 1 / 2 / 2;
}

#question-input-2 {
    grid-area: 1 / 2 / 2 / 3;
}

#question-input-3 {
    margin-top: 19px;
    grid-area: 2 / 1 / 3 / 3;
}

.questions-data {
    margin-top: 42px;
}

#questions-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

#questions-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

#questions-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 1px;
    margin-right: 0.5em;
    margin-bottom: 2px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

#questions-checkbox:checked+label::before {
    border-color: #E3B873;
    background-color: #E3B873;
    background-image: url('../images/check-mark.svg');
}

#questions-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #f5d6a5;
}

#questions-checkbox:not(:disabled):active+label::before {
    background-color: #f5d6a5;
    border-color: #f5d6a5;
}

#questions-checkbox:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(255, 208, 0, 0.25);
}

#questions-checkbox:focus:not(:checked)+label::before {
    border-color: #f5d6a5;
}

.questions-button {
    width: 200px;
    height: 51px;
    padding: 0;
    margin-top: 34px;
}

.contacts-txt {
    margin-top: 52px;
    width: 589px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
}

.contacts-buttons {
    display: flex;
    justify-content: space-between;
    width: 71px;
    margin-top: 26px;
}

.contacts-map {
    margin-top: 43px;
}

.contacts-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
}

@media screen and (max-width: 1300px) {
    .contacts {
        background: none;
        background-color: #181818;
        padding-top: 183px;
        height: 1236px;
    }

    .questions-block {
        margin: 0;
        padding: 0;
        width: 340px;
        height: fit-content;
    }

    .questions-title {
        margin-bottom: 52px;
    }

    .questions-inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column-gap: 0;
        grid-row-gap: 0
    }

    #question-input-2 {
        margin: 63px 0;
    }

    #question-input-3 {
        margin: 0;
    }

    #question {
        width: 340px;
    }

    .questions-data {
        margin-top: 22px;
    }

    .questions-button {
        width: 340px;
        margin-top: 67px;
    }

    .contacts-txt {
        font-size: 18px;
        line-height: 25px;
        width: 309px;
        margin-top: 339px;
    }

    .contacts-buttons {
        width: 99px;
        margin-top: 24px;
    }

    .email-button {
        width: 39px;
        height: 39px;
    }

    #email {
        width: 39px;
        height: 39px;
    }

    .inst-button {
        width: 39px;
        height: 39px;
    }

    #inst {
        width: 39px;
        height: 39px;
    }

    .contacts-map {
        width: 340px;
        height: 255px;
        margin-top: -426px;
    }

    .contacts-map iframe {
        width: 340px;
        height: 255px;
    }

    .contacts-overlay {
        display: none;
    }
}

@media screen and (max-width: 1300px) {
    .footer {
        display: none;
    }
}